@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

 body{
   margin: 0;
   padding: 0;
   background-color:#f8aeed ;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 header {
    text-align: center;
    padding: 25px;
    margin-top: -10px;

    background-color: #fce7cc;
    border-bottom: 4px solid #351d31;
}

header h1{
    font-family: "Alex brush", cursive;
    font-size: 40px;
    letter-spacing: 1px;

    text-align: center;
    padding: 25px 30px 12px;
    margin-top: -30px;
    color: #522a4c;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: -30px;
}

nav a {
    display:inline-block;
    padding: 6px 10px;
    color: #522a4c;
    text-decoration: none;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

    border:1px solid transparent;
    border-radius: 20px;
    transition: 0.2s;
}

nav span {
    color: #522a4c;
}

nav a:hover {
    background-color:#351d31;
    transform: rotate(-2deg);
    text-decoration:underline;
    color: white;
}

.Autora {
   display: inline;
   justify-content: flex-start;
   align-items: center;
   text-align: center;

   gap: 10px;
   margin: 10px;
   padding: 15px;
   background-color: #fce7cc;
   border: #351d31 4px solid;
   border-radius: 6px;
}

.Autora h2 {
   font-family: "Alex brush", cursive;
   font-size: 40px;
   color: #522a4c;
}
.Autora p {
   text-align: center;
   color: #522a4c;
}

.foto {
   width: 300px;
   height: auto;
   flex-shrink: 0;
   border: 3px solid #351d31;
   border-radius: 5px;
}
