@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #c8d9ec;
    color:#5f0c2f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
}


.personagens {
    width: 80%;
    margin: 40px auto;
    padding: 25px;
    color:#5f0c2f;
    background-color: #fce7cc;
    border: 3px solid #5f0c2f;
    border-radius: 8px;
}

.personagens h2 {
    text-align: center;
    font-family: "Alex Brush", cursive;
    font-size: 40px;
    color:#5f0c2f;
    margin-bottom: 30px;
}

.personagens table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fce7cc;
}

.personagens th {
    color:#5f0c2f;
    background-color: #96c1c5;
    font-size: 18px;
    padding: 15px;
    border: 2px solid #3c0e18;
}

.personagens td {
    color:#5f0c2f;
    padding: 15px;
    border: 2px solid #3c0e18;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.personagens td img {
    color:#5f0c2f;
    width: 110px;
    height: 130px;
    object-fit: cover;
    border: 2px solid #470e14;
    border-radius: 5px;
}

.personagens td h3 {
    margin: 8px 0 0;
    font-family: "Alex Brush", cursive;
    font-size: 30px;
    color: #470e14;
}

